body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3 {
    font-family: Arial, sans-serif;
    margin-top: +30px;
}
h1 {
    font-size: 32px;
}

p {
    text-align: justify;
}
table {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
td, th {
    border: 1px solid black;
}
table>caption {
    margin: 10px;
}
figcaption {
    margin-top: 0px;
    font-style: italic; 
    text-align: center;
}
.pics {
    float:right;
    margin: 0px 0px 5px 40px;
}